html {
  font-size: 14px;
}

.wrapper {
  margin: 0 auto;
  max-width: 84.28571rem;
  width: 100%;
  position: relative;
}

.nav {
  height: 100%;
  margin: 45px 0 0 0;
  position: fixed;
  width: 200px;

  hr {
    margin: 17px 0 18px;
    height: 0;
    clear: both;
    border: solid #ddd;
    border-width: 1px 0 0;
  }

  ul {
    margin: 0;
    padding: 0;
  }
  a {
    color: #8b8989
  }
  a:hover {
    text-decoration: none;
    color: #7e9ea0;
  }

  li {
    list-style: none none inside;
    a {
      display: block;
      line-height: 35px;
    }
  }

  li.active a {
    color: #7e9ea0;
  }
}

.profile {
  text-align: center;
  .icon {
    border-radius: 5px;
    height: 64px;
    width: 64px;
  }
  a {
    display: block;
  }
}
.content {
  margin-left: 220px
}


@media screen and (max-width : 480px) {
  .nav {
    position: relative;
    margin: 0 1rem;
    width: auto;
  }

  .content {
    margin: 0 1rem;
  }
}
.post {
  padding: 45px 0 0 0;
}

.story-page {
  margin-bottom: 30px;
  position: relative;
  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;

  img {
    display: block;
    width: 100%;
  }
}

.story-page:before, .story-page:after
{
  content:"";
    position:absolute;
    z-index:-1;
    -webkit-box-shadow:0 0 20px rgba(0,0,0,0.6);
    -moz-box-shadow:0 0 20px rgba(0,0,0,0.6);
    box-shadow:0 0 20px rgba(0,0,0,0.6);
    top:50%;
    bottom:0;
    left:10px;
    right:10px;
    -moz-border-radius:100px / 10px;
    border-radius:100px / 10px;
}
