---
layout: post
title:  "Angry shark"
date:   2015-01-17 10:19:23
---
.story-page
  %img(src="/assets/angry-shark/angryshark-1.png")
.story-page
  %img(src="/assets/angry-shark/angryshark-2.png")
.story-page
  %img(src="/assets/angry-shark/angryshark-3.png")
